{% extends "AppBundle::layout.html.twig" %}
{% block body%}
	<div class="container-fluid">
		<div class="row">
			<div class="row">
				<div class="col-md-4">
					<a href="{{path("app_status_index")}}" class="btn  btn-lg btn-warning col-md-12"><i class="material-icons" style="font-size: 30px;">refresh</i> Refresh</a>
				</div>
				<div class="col-md-4">
					<a class="btn btn btn-lg btn-yellow col-md-12"><i class="material-icons" style="font-size: 30px;">chrome_reader_mode</i> {{status_count}} Status</a>
				</div>
				<div class="col-md-4">
					<div class="dropdown">
						<a href="#" data-toggle="dropdown" aria-expanded="false" class="btn btn-rose btn-lg pull-right add-button col-md-12"title=""><i class="material-icons" style="font-size: 30px;">add_box</i> NEW STATUS </a>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li>
								<a href="{{path("app_quote_add")}}"><i class="material-icons">format_quote</i> NEW QUOTE</a>
							</li>
							<li>
								<a href="{{path("app_image_add")}}"><i class="material-icons">image</i> UPLOAD IMAGE</a>
							</li>
							<li>
								<a href="{{path("app_gif_add")}}"><i class="material-icons">gif</i> UPLOAD GIF</a>
							</li>
							<li>
								<a href="{{path("app_video_add")}}"><i class="material-icons">cloud_upload</i> UPLOAD VIDEO</a>
							</li>
							<li>
								<a href="{{path("app_video_addurl")}}"><i class="material-icons">link</i> ADD URL</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				{% for status in status_list %}
					{% if status.type == "quote" %}
					<div class="col-md-4" style="height:370px">
						<div class="card card-product"  >
			
							<div class="quote-item" style="background-color:#{{status.color}};height: 305px;">
								{{status.clear}}
							</div>
							<div class="card-content" style=" padding: 0px 0px;">
								<div class="card-actions" style="top: -300px;">
									<a href="{{path("app_status_view",{id:status.id})}}" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="View">
										<i class="material-icons">remove_red_eye</i>
									</a>
									<a href="{{path("app_quote_edit",{id:status.id})}}" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Edit">
										<i class="material-icons">edit</i>
									</a>

									<a href="{{path("app_home_notif_status",{id:status.id,title:status.clear})}}" class="btn btn-rose btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Notification">
										<i class="material-icons">notifications_active</i>
									</a>
									<a href="{{path("app_status_delete",{id:status.id})}}" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Delete">
										<i class="material-icons">close</i>
									</a>
									<a href="" class="btn btn-danger btn-simple pull-right" style="background-color: #cccccc7d !important;"><i class="material-icons">format_quote</i></a>
								</div>
							</div>
							<div class="card-footer" >
								<div class="price">
									<div class="wallpaper-logo" >
										{% if status.user.image == "" %}
											{{status.user.name}}
										{% else %}
											<img src="{{status.user.image}}" class="avatar-img" alt="">
										{% endif %}
										<span>{{status.user.name}}</span>
									</div>
								</div>
								<div class="stats pull-right">
									<div class="wallpaper-logo" >{{status.created|ago}}</div>
								</div>
							</div>
						</div>
					</div>
					{% else %}
					<div class="col-md-4" style="height:370px">
						<div class="card card-product"  >
							<div class="wallpaper-title" >
								{{status.title}}
							</div>
							<img class="img " style="height:auto;background-color:#fff;height:250px" src="{{asset(status.media.link)|imagine_filter("status_thumb")}}">
							<div class="card-content" style=" padding: 0px 0px;">
								<div class="card-actions">
									<a href="{{path("app_status_view",{id:status.id})}}" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="View">
										<i class="material-icons">remove_red_eye</i>
									</a>
									{% if status.type=="video" or status.type=="fullscreen" %}
										{% if status.video.enabled == true  %}
											<a href="{{path("app_video_edit",{id:status.id})}}" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Edit">
												<i class="material-icons">edit</i>
											</a>
										{% else %}
											<a href="{{path("app_video_editurl",{id:status.id})}}" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Edit">
												<i class="material-icons">edit</i>
											</a>
										{% endif %}
									{% elseif status.type=="gif" %}
									<a href="{{path("app_gif_edit",{id:status.id})}}" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Edit">
										<i class="material-icons">edit</i>
									</a>
									{% else %}
									<a href="{{path("app_image_edit",{id:status.id})}}" class="btn btn-success btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Edit">
										<i class="material-icons">edit</i>
									</a>
									{% endif %}
									<a href="{{path("app_home_notif_status",{title:status.title,id:status.id,image:asset(status.media.link)|imagine_filter("status_thumb"),icon:asset(status.media.link)|imagine_filter("status_thumb")})}}" class="btn btn-rose btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Notification">
										<i class="material-icons">notifications_active</i>
									</a>
									<a href="{{path("app_status_delete",{id:status.id})}}" class="btn btn-danger btn-simple" rel="tooltip" data-placement="bottom" title="" data-original-title="Delete">
										<i class="material-icons">close</i>
									</a>
									{% if status.type =="image" %}
										<a href="" class="btn btn-danger btn-simple pull-right" style="background-color: #cccccc7d !important;"><i class="material-icons">image</i></a>
									{% elseif status.type == "gif" %}
										<a href="" class="btn btn-danger btn-simple pull-right" style="background-color: #cccccc7d !important;"><i class="material-icons">gif</i></a>
									{% else %}	    
										<a href="" class="btn btn-danger btn-simple pull-right" style="background-color: #cccccc7d !important;"><i class="material-icons">videocam</i></a>
									{% endif %}
								</div>
							</div>
							<div class="card-footer">
								<div class="price">
									<div class="wallpaper-logo" >
										{% if status.user.image == "" %}
											{{status.user.name}}
										{% else %}
											<img src="{{status.user.image}}" class="avatar-img" alt="">
										{% endif %}
										<span>{{status.user.name}}</span>
									</div>
								</div>
								<div class="stats pull-right">
									<div class="wallpaper-logo" >{{status.created|ago}}</div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
				{% else %}
					<div class="col-md-12">
						<div class="card">
							<div class="card-content">
								<br>
								<br>
								<center><img src="{{asset("img/bg_empty.png")}}"  style="width: auto !important;" =""></center>
								<br>
								<br>
							</div>
						</div>
					</div>
				{% endfor %}
				
			</div>
			<div class=" pull-right">
				{{ knp_pagination_render(status_list) }}
			</div>
		</div>
	{% endblock%}